body{
    /* Fontes Externas gratuitas para WEB no GoogleFonts*/
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px;
}

.englobar-header {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.lista-produtos {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
}

.lista-produtos li {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 415px;
    vertical-align: top;
    margin: 0 2%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    /* border: 2px solid #000000 */
    border-radius: 20px;
}

.lista-produtos li:hover {
    border-color: #C78C19;
}

.lista-produtos li:hover h2 {
    font-size: 40px;
}

.lista-produtos li:active {
    border-color: #088C19;
}

.lista-produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("./assets/img/bg.jpg");
    padding: 40px;
}

.texto-footer {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
 
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 50%;
}

.input-checkbox {
    margin: 20px 5px;
}

.button-enviar{
    width: 30%;
    padding: 15px 0;
    background-color: orange;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.button-enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS DA INDEX PAGE*/

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: .5em;
    clear: left;
}

.titulo-principal:first-letter {
    font-weight: bold;
}

/* É POSSIVEL COLOCAR PRIMEIRA LINHAS EM ITALICO ex: p::first-line*/

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 1280px;
    margin: 0 auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bolder;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefefe,#888888);
}

.mapa-conteudo {
    width: 1280px;
    margin: 0 auto;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background-color: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "★";
}

/* :nth-child(5) acessando o elemento da posição 5 -- :nth-child(2n) pegando todos os elementos pares da lista*/
.itens:first-child {
    font-weight: bold; 
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 500ms;
    box-shadow: 10px 10px 20px 5px #000000;
    /* box-shadow: eixo X - eixo Y - Intesidade da Sombra - Expansão da Sombra - Cor da Sombra */
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.img-utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.video {
    margin: 2em auto;
    text-align: center;
}

/* 
    Seletores Avançados no CSS
    1) podemos selecionar os filhos diretos de <main>, para tanto, utilizaremos o sinal >,
     e todo os outros parágrafos serão ignorados.
        ex: 
            main > p {
                background: red; 
            }

    2)Selecionar o primeiro parágrafo que sucede uma imagem, neste caso 
    estamos falando do primeiro irmão que vem depois de um elemento. Usamos o seletor +
        ex:
            img + p { 
                background: blue;
            }
        
    3)Para selecionar todos os parágrafos localizados depois de uma imagem usamos o seletor ~
        ex:
            img ~ p {
                background: yellow
            } 

    4)excluir itens específicos. Se quisermos excluir todos os parágrafos 
    que não compõe missao, escreveremos:
        .principal p:not(#misssao) {
            background: orange;
        }
*/
