header {
    background-color: #BBBBBB;
    padding: 20px;
}

.englobar-header {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.lista-produtos {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
}

.lista-produtos li {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 415px;
    vertical-align: top;
    margin: 0 2%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    /* border: 2px solid #000000 */
    border-radius: 20px;
}

.lista-produtos li:hover {
    border-color: #C78C19;
}

.lista-produtos li:hover h2 {
    font-size: 40px;
}

.lista-produtos li:active {
    border-color: #088C19;
}

.lista-produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("./assets/img/bg.jpg");
    padding: 40px;
}

.texto-footer {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

